#container{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#ja,#entry{
	font-size:60px;
}

/* #img{
	width:300px;
	height:300px;
	margin:20px;
} */
#btn{
	font-size:50px;
	cursor:pointer;
    margin:20px;
}
#result{
	transition:1s;
	opacity:1;
    font-size:60px;
}
#result.fade{
	opacity:0.5;	
}
